{% extends "network/layout.html" %}

{% load static %}

{% block script %}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="{% static 'network/script.js' %}"></script>
{% endblock %}

{% block body %}
<div id="new-post-form">
    <h3 id="post-type">New Post</h3>
    <textarea id="new-post-content"></textarea>
    <button id="submit-edit-post">ePost</button>
    <button id="submit-new-post">Post</button>
</div>
<div id="all-posts-container"></div>
{% endblock %}