{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script>var exports = {}</script>
        {% block script %}{% endblock %}
    </head>
    <body>
        <p id="user-id" style="display: none">{{ user.username }}</p>
            <div id="side-panel">
                <div id="side-panel-brand-name">
                    <a  href="{% url 'index' %}">Network</a>
                </div>
                {% if user.is_authenticated %}
                    <div id="side-panel-username">
                        <a  href="/profiles/{{ user.username }}"><strong>{{ user.username }}</strong></a>
                    </div>
                {% endif %}
                <div id="side-panel-all-posts">
                  <a  href="{% url 'index' %}">All Posts</a>
                </div>
                {% if user.is_authenticated %}
                    <div id="side-panel-following">
                        <a id="follow-post-button"  href="{% url 'following' %}">Following</a>
                    </div>
                    <div id="side-panel-logout">
                        <a  href="{% url 'logout' %}">Log Out</a>
                    </div>
                {% else %}
                    <div id="side-panel-login">
                        <a  href="{% url 'login' %}">Log In</a>
                    </div>
                    <div id="side-panel-register">
                        <a  href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
            </div>
            <div id="side-panel-right">!--Right Panel User Info --!</div>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>