{% extends "network/layout.html" %}

{% load static %}

{% block script %}
    <script type="text/babel" src="{% static 'network/profile.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="user-info-div" style="display: none">
        <p id="username">{{ username }}</p>
        <p id="followers">{{ followers }}</p>
        <p id="following">{{ following }}</p>
    </div>
    <div id="profile-middle-panel">
        <div id="profile-info">
            <div id="profile-username">
                <div class="user-profile-pic">
                    <img id="profile-page-user-icon" class="user-profile-icon" src="{% static 'network/images/default-profile-icon.png' %}" />
                </div>
                <div class="profile-username-text">
                    {{ username }}
                </div>
                <div id="profile-page-timestamp" class="post-timestamp">
                    User joined on {{ date_joined }}
                </div>
            </div>
            <div id="followers-info"></div>
        </div>
        <div id="user-posts"></div>
    </div>
{% endblock %}
