a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(21,32,43);
    color: white;
    margin: 0px 0px 15% 20%;
    height: 100vh;
}


li {
    display: inline;
}

textarea {
    background-color: rgb(30, 42, 54);
    color: white;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid rgb(29,161,242);
    height: 30px;
    animation-name: grow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    overflow: hidden;
}

textarea:focus {
    outline: none;
}

/* animations */

@keyframes grow {
    from {
        height: 30px;
    }
    to {
        height: 300px;
    }
}

@keyframes shrink {
    from {
        height: 300px;
    }
    to {
        height: 30px;
    }
}

/* Buttons */

#follower-buttons {
    position: fixed;
    top: 2px;
    right: 31%;
}

#submit-new-post, #submit-edit-post, #post-close-button, #follow-button  {
    background-color:rgb(29,161,242);
    color: white;
    border-radius: 10px;
    width: 70px;
    margin: 10px 0px 0px 0px;
    height: 25px;
    border: 0px;
}

#follow-button {
    border-radius: 10px;
    border: 0px;
    height: 30px;
    width: 90px;
}

#follow-button {
    width: 80px;
}

.edit-button {
    display: inline;
    border: 1px solid rgb(54, 170, 241);
    border-radius: 4px;
    background-color: rgb(21,32,43);
    color: rgb(54, 170, 241);
    width: 50px;
}

.like-count {
    display: inline-block;
    font-size: medium;
    vertical-align: middle;
 }

.like-button {
    width: 24px;
}

.like-button:hover {
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgb(54, 170, 241);
    color: white;
}

#submit-new-post:hover, #submit-edit-post:hover, #follow-button:hover {
    background-color: rgb(54, 170, 241);
}

#submit-new-post:focus, .edit-button:focus, #submit-edit-post:focus, #post-close-button:focus, #follow-button:focus {
    outline: none;
}


/* Divs */

#all-posts-container {
    margin-left: 150px;
    display: flex;
    width: 80%;
}

#followers-div {
    margin-left: 5px;
    width: 165%;
}

.follow-blocks {
    display: inline-block;
    margin: 10px 8% 10px 8%;
}


#side-panel-all-posts:hover, #side-panel-following:hover, #side-panel-logout:hover, #side-panel-login:hover {
    background-color: rgb(56, 102, 138);
    border-radius: 15px;
}

#home-top-panel {
    font-size: 24px;
    margin-top: -10px;
    margin-left: 150px;
    height: 70px;
    width: 42.25%;
    background-color: rgb(21,32,43);
    padding: 20px;
    position: fixed;
    display: block;
    border-bottom: 1px solid rgb(56,68,77);
    border-right: 1px solid rgb(56,68,77);
    border-left: 1px solid rgb(56, 68, 77);
}

.like-info-div {
    color: rgb(175, 175, 175);
    padding: 8px;
}

.like-info-div:hover {
    color: rgb(240, 96, 96);
}

.like-button-div {
    display: inline;
    margin-left: 2px;
    padding: 8px;
    border-radius: 25px;
}

.like-button-div:hover {
    box-shadow: inset 0 0 0 1000px rgba(226, 79, 79, 0.2);
}

#post-buttons-list {
    margin-left: -40px;
}

#profile-middle-panel {
    margin-left: 150px;
    display: flex;
    width: 80%;
    flex-direction: column;
}

#profile-info {
    position: fixed;
    display: block;
    width: 42.25%;
    background-color: rgb(38, 52, 66);
    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);
    border-bottom: 1px solid rgb(56,68,77);
    box-shadow: 0px 4px 4px -4px black;
    height: 140px;
}

.post-timestamp {
    color: rgb(153, 153, 153);
    margin: 6px 0px 6px 0px;
}

#profile-username, #followers-info {
    width: 100%;
    padding-left: 20px;
}

.post-username {
    display: inline;
    font-size: 24px;
}

.profile-username-text {
    display: inline;
    font-size: 28px;
}

.username-in-post {
    display: inline;
}

.user-profile-pic {
    display: inline;
    margin-right: 8px;
}

.user-profile-icon {
    width: 55px;
}


#profile-username {
    border-bottom: 1px solid rgb(77, 82, 85);
    padding-top: 5px;
}

#profile-page-timestamp {
    position: fixed;
    top: 48px;
    right: 52.5%;
}

#profile-page-user-icon {
    width: 100px;
}

#side-panel-brand-name, #side-panel-username, #side-panel-all-posts, #side-panel-following, #side-panel-logout, #side-panel-login {
    color: white;
    font-size: 24px;
    margin: 5px 5px;
    text-align: center;
}

#side-panel {
    display: flex;
    margin-top: -20px;
    padding: 10px;
    padding-top: 50px;
    float: left;
    width: 8%;
    height: 100vh;
    position: fixed;
    flex-direction: column;
}

#side-panel-right {
    display: flex;
    float: right;
    width: 10%;
    height: 100vh;
    margin-left: 53%;
    position: fixed;
}

#user-posts {
    margin-top: 140px;
}

.post-container, #new-post-form {
    color: white;
    width: 66%;
    padding: 10px 20px 10px 20px;
    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);
    border-bottom: 1px solid rgb(56,68,77);
}

.post-edit-div {
    display: inline;
    margin-left: 74%;
}

#middle-panel {
    display: flex;
    flex-direction: column;
}

#new-post-form {
    margin: 50px 0px 0px 150px;
    width: 52.8%;
    background-color: rgb(30, 42, 54);
}






