a {
    color: white;
}

body {
    background-color: rgb(21,32,43);
    color: white;
    margin: 0px 0px 15% 15%;
    height: 100vh;
}



/* Divs */

#all-posts-container {
    margin-left: 150px;
    display: flex;
    width: 80%;
}

#home-top-panel {
    font-size: 24px;
    margin-top: -10px;
    margin-left: 150px;
    height: 70px;
    width: 44.9%;
    background-color: rgb(21,32,43);
    padding: 20px;
    position: fixed;
    display: block;
    border-bottom: 1px solid rgb(56,68,77);
    border-right: 1px solid rgb(56,68,77);
    border-left: 1px solid rgb(56, 68, 77)
}

#side-panel-brand-name, #side-panel-username, #side-panel-all-posts, #side-panel-following, #side-panel-logout, #side-panel-login {
    color: white;
    font-size: 24px;
    margin: 5px 5px;
}

#side-panel {
    display: flex;
    margin-top: -20px;
    padding: 10px;
    padding-top: 50px;
    float: left;
    width: 8%;
    height: 100vh;
    position: fixed;
    flex-direction: column;
}

#side-panel-right {
    display: flex;
    float: right;
    width: 10%;
    height: 100vh;
    margin-left: 53%;
    position: fixed;
}

.post-container, #new-post-form {
    color: white;
    width: 66%;
    padding: 20px;
    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);
    border-bottom: 1px solid rgb(56,68,77);
}

#middle-panel {
    display: flex;
    flex-direction: column;
}

#new-post-form {
    margin: 50px 0px 0px 150px;
    width: 52.8%;
    background-color: rgb(30, 42, 54);
}




